.DS_Store
.build
.swiftpm
.devContainer
*.build
*.index-build
/.xcodeproj
*.pem
.podspecs
.swift-version
Package.resolved
.serverless
Packages
*.xcodeproj
xcuserdata/
.vscode/*
!/.vscode/hummingbird.code-snippets
.env.*
.env
img/generated_images
.vscode
